body {
    /* margin-top: 20px; */
    /* background-image: url(Images/Img.jpg); */
    background-color: white;
    /* transition: all 0.3s ease; */
}

.main {
    /* padding: 100px 0px 100px 0px; */
    /* margin: auto; */
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}

.container {
    /* padding: 100px 0px 100px 0px; */
    margin: auto;
    position: relative;
    display: contents;
    justify-content: center;
}

.sidebar {
    float: left;
    padding: 100px;
    background-color: rgba(31, 139, 130, 0.7);
    color: white;
    height: 100%;
}

.sidebar a {
    /* margin-left: 10px; */
    display: flex;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 60px;
}

.content {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header {
    padding: 10px;
    /* background: rgba(31, 139, 130, 0.7); */
    background-color: white;
}

.header img {
    float: left;
    width: 100px;
    height: 30px;
    position: relative;
    top: 2%;
}

.m-3 {
    text-align: center;
}

.row p {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}


/* .input-group {
       margin-left: 300px;
        
    } */


/* Add a black background color to the top navigation */

.header.topnav {
    /* background-color: rgba(17, 75, 70, 0.7); */
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    /* float: left; */
    justify-content: center;
    align-items: center;
    display: inline-block;
    color: black;
    text-align: center;
    margin-left: 250px;
    padding: 0.0001px 5px;
    text-decoration: none;
    font-size: 17px;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


/*here we have the layout of the menu button and its transations */

#menuButton {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuButton img {
    width: 50px;
    margin-top: 0px;
}


/*here we have the media */

@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44 px;
    }
    .banner-button a {
        display: block;
        margin: 20px auto;
    }
    form {
        flex-basis: 100%;
        margin: 20px auto;
    }
    .button1 {
        font-size: 25px;
        flex-basis: 100%;
    }
    .button2 {
        font-size: 25px;
        flex-basis: 100%;
    }
    .button3 {
        font-size: 25px;
        flex-basis: 100%;
    }
    .button4 {
        font-size: 25px;
        flex-basis: 100%;
    }
}


/* #Contact-Us{
      width: 100%;
      padding: auto ;
      background: #efefef;
      display: flex ;
  } */

footer {
    position: relative;
    width: 100%;
    height: 260px;
    bottom: 0px;
    /* background: rgb(141, 141, 141); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: black;
    margin-bottom: 40px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: black;
    font-size: 30px;
    width: 500px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
    height: 100vh;
}

.social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 60px;
    padding: 15px 15px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.content-table thead tr {
    background-color: rgba(31, 139, 130, 0.7);
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr.active-row {
    color: #86acb8;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* margin: auto; */
    /* width:550px; */
}


/* p{
    padding: 1px 1px;
  
  } */

.wrapper {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    /* background: red;  */
    display: flex;
    margin: auto;
    position: relative;
}

.prescription_form {
    /* width: 720px; */
    /* height: 100vh; */
    margin: auto;
    background: white;
    position: relative;
}

.prescription {
    width: 660px;
    height: 860px;
    margin: auto;
    /* border: 1px solid lightgrey; */
    position: relative;
}

.prescription tr>td {
    padding: 5px;
}

.head {
    color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    flex: 1;
}

.logo img {
    width: 120px;
    height: 120px;
    float: left;
}

.credentials {
    flex: 1;
}

.credentials h4 {
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.credentials p {
    margin: 0 0 5px 0;
    padding: 3px 0px;
}

.credentials small {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-right: 80px;
}

.d-header {
    width: 100%;
    text-align: center;
    background: rgba(31, 139, 130, 0.7);
    padding: 3x;
    color: white;
    font-weight: 800;
}

.symptoms,
.tests,
.advice {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.symptoms ul,
.tests ul {
    list-style: square;
    margin: 0;
    padding-left: 10px;
    height: 100%;
}

.advice p {
    letter-spacing: 0;
    font-size: 14px;
}

.advice .adv_text {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.desease_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.med_name {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.taking_time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
}

.schedual {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sc_time {
    margin: 0;
    padding: 0;
    float: left;
}

.sc_time span {
    font-weight: bold;
    margin-right: 1rem;
}

.sc {
    border: none;
    outline: none;
    font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    font-size: 15px;
    color: #335;
    position: relative;
    float: left;
    overflow: hidden;
}

select {
    font-weight: bold;
    padding: 0 0.5em;
    color: #333;
    cursor: pointer;
    outline: none;
}

.med_name {
    border: 0;
    outline: 0;
}

.period {
    font-size: 14px;
}

input[type="date"] {
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: none;
}

.medicine {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.med_name_action,
.med_when_action,
.med_period_action {
    display: none;
}

.med_meal_action .btn {
    margin: 2px;
}

.med_period {
    border: none;
    outline: none;
}

#add_med {
    margin: 20px 5px;
    flex-grow: 1;
}

#add_med {
    animation: shake 1.5s linear infinite;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
    95% {
        opacity: 0;
    }
}

#add_symptoms {
    margin: 20px 5px;
    flex-grow: 1;
    opacity: 1;
}

.symp_action,
.test_action,
.adv_action {
    display: none;
}

.med_footer {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

hr {
    margin: 10px 0px;
}

.med:hover hr {
    border-top: 3px #111 solid;
}

.med_period_action {
    float: right;
}

span.date {
    color: #333399;
    float: right;
    clear: both;
}

.del_action {
    width: 100%;
    text-align: right;
}

.delete {
    width: 50px;
    opacity: 0;
    display: none;
}

.med:hover .delete {
    display: inline;
    opacity: 1;
}

.folded {
    visibility: hidden;
}

.button_group {
    position: fixed;
    right: 120px;
    bottom: 100px;
}

#snacking,
#snacked {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snacking.show,
#snacked.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.buttonn {
    background-color: rgba(31, 139, 130, 0.7);
    padding: 15px 25px;
    margin-top: 10px;
    text-size-adjust: bold;
    text-decoration-color: #111;
}

form {
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 15px;
    margin-left: 50px;
}


/* .form2{
    display: block;
      align-items: center;
      justify-content: center;
      justify-items: center;
      padding: 15px;
      margin-left: 80px;
  } */

.label1 {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    background-color: rgba(31, 139, 130, 0.7);
    padding: 10px;
    color: #f3f3f3;
    text-size-adjust: 100px;
}

.dropbtn {
    background-color: #3a9d90;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 400px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3a9d90;
}

#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 400px;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/* input{
      background-color: #009688;
      color: #009688;
    } */

.inputfile {
    display: block;
    margin: auto;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.inputfile+label {
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgba(31, 139, 130, 0.7);
    display: block;
    padding: 15px 15px;
    border: 2px solid #366473;
    border-radius: 10px;
    margin: auto;
    position: relative;
    width: 200px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: rgba(31, 139, 130, 0.7);
}

.button1 {
    position: relative;
    /* flex-basis: auto; */
    background-color: rgba(31, 139, 130, 0.7);
    /* background-blend-mode: difference;
      background: linear-gradient(rgb(26, 121, 145), transparent); */
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 15px 15px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-size: 20px;
}


/* .button1:hover
  {
      background-color: rgb(37, 122, 103);
  } */